@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}
.quote{
    height: 80px;
color: white;
background-color: #ff9100;
display: flex;
align-items: center;
justify-content: center;
text-decoration: underline;
font-size: 50px;
}

.parallax-1 {
    background: url('Picsart_24-04-26_14-45-42-989.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.parallax-2 {
    background: url('WhatsApp Image 2024-04-26 at 11.21.38 PM.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3 {
    background: url('second img.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-inner {
    padding: 10% 0;
}

h2 {
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}

p:nth-of-type(2),
p:nth-of-type(3) {
    margin: 40px 50px;
}